@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  all: unset;
  box-sizing: border-box;
  @include flex-center;
  position: relative;
  color: var(--text);
  cursor: pointer;
  .icon {
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    pointer-events: none;
  }
}

@mixin btn-active {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1px rgba(153, 153, 153, .6);
    opacity: 0;
    transition: opacity .7s;
  }
  &:active {
    background: var(--btn-active-bg);
  }
  &:active::before {
    box-shadow: 0 0 0 1px transparent;
    opacity: 1;
    transition: opacity 0s;
  }
}

// customize scrollbar
.scrollbar {
  // for Blink- and WebKit-based browsers
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) var(--scrollbar-track-bg);
    border: solid 4px var(--scrollbar-track-bg);
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) var(--scrollbar-thumb);
    border: solid 4px transparent;
    border-radius: var(--scrollbar-width);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }

  // for Firefox
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track-bg);
  scrollbar-width: thin;
}