@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  all: unset;
  box-sizing: border-box;
  @include flex-center;
  position: relative;
  color: var(--text);
  cursor: pointer;
  .icon {
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    pointer-events: none;
  }
}

@mixin btn-active {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1px #AAA;
    opacity: 0;
    transition: opacity .7s;
  }
  &:active {
    background: var(--btn-active-bg);
  }
  &:active::before {
    box-shadow: 0 0 0 1px transparent;
    opacity: 1;
    transition: opacity 0s;
  }
}