:root {
  --btn-size: 40px;
  --btn-icon-size: 24px;
  --header-height: 56px;
  --header-z-index: 5;
  --scrollbar-width: 16px;

  --narrow-sidebar-width: 72px;
  --wide-sidebar-width: 240px;
  --sidebar-width: var(--wide-sidebar-width);

  --wide-sidebar-display: block;
  --narrow-sidebar-display: none;

  --wide-sidebar-z-index: calc(var(--header-z-index) - 1);
  --wide-sidebar-transform-left: 0;
  --wide-sidebar-backdrop-position-right: 100%;
  --wide-sidebar-transition: transform 0s;

  --topicbar-left-offset: var(--wide-sidebar-width);
  --topicbar-height: var(--header-height);
  --btn-pill-height: 32px;
  --topicbar-display: flex;
  --topicbar-position: 'static';
  --topicbar-z-index: calc(var(--header-z-index) - 2);

  --bottomnav-display: none;

  --video-max-width: 360px;
  --video-min-width: 320px;
  
  @media (max-width: 1615px) {
    --video-max-width: 320px;
    --video-min-width: 240px;
  }
  @media (max-width: 1330px) {
    --sidebar-width: var(--narrow-sidebar-width);

    --narrow-sidebar-display: block;

    --wide-sidebar-z-index: var(--header-z-index);
    --wide-sidebar-transform-left: var(--wide-sidebar-width);
    --wide-sidebar-transition: transform .2s;

    --topicbar-left-offset: var(--narrow-sidebar-width);
  }
  @media (max-width: 800px) {
    --sidebar-width: 0;

    --narrow-sidebar-display: none;

    --topicbar-left-offset: 0px;
  }
  @media (max-width: 500px) {
    --btn-icon-size: 20px;
    --header-height: 40px;

    --btn-pill-height: 24px;

    --bottomnav-display: block;
  }
}

// light/dark mode
body {
  --text: #000;
  --main-bg: #F9F9F9;
  --border: #E5E5E5;
  --scrollbar-track-bg: var(--main-bg);
  --scrollbar-thumb: #606060;

  --header-bg: #FFF;
  --header-icon-nation-text: #7B7B7B;
  --header-searchbar-bg: transparent;
  --header-searchbar-border: #CCC;
  --header-searchbar-btn-bg: #F8F8F8;
  --header-searchbar-btn-border: #CCC;
  --header-searchbar-record-bg: #F9F9F9;
  --header-searchbar-text: #000;
  --btn-active-bg: #E5E5E5;
  --header-load-btn-bg: #E3E3E3;

  --sidebar-bg: #FFF;
  --sidebar-btn-hover-bg: #F2F2F2;
  --narrow-sidebar-btn-enabled-bg: transparent;
  --narrow-sidebar-btn-active-bg: #DADADA;
  --wide-sidebar-border: #E5E5E5;
  --wide-sidebar-text: #606060;
  --wide-sidebar-copyright-text: #909090;
  --wide-sidebar-btn-enabled-bg: #E5E5E5;
  --wide-sidebar-btn-active-bg: #C1C1C1;
  --wide-sidebar-btn-enabled-bg-and-hover-bg: #D9D9D9;
  --wide-sidebar-btn-enabled-bg-and-active-bg: #ACACAC;
  .wide-sidebar {
    --scrollbar-track-bg: var(--sidebar-bg);
    --scrollbar-thumb: transparent;
    .body:hover {
      --scrollbar-thumb: #909090;
    }
  }

  --topicbar-bg: var(--header-bg);
  --topicbar-border: var(--border);
  --btn-pill-bg: #F2F2F2;
  --btn-pill-enabled-bg: #030303;
  --btn-pill-enabled-text: #FFF;
  --btn-pill-hover-bg: #E5E5E5;

  --videogrid-bg: var(--main-bg);
  --videogrid-video-active-bg: #E0E0E0;
  --videogrid-video-primary-text: #000;
  --videogrid-video-secondary-text: #606060;
  --videogrid-video-skeleton-primary-bg: #CCCCCC;
  --videogrid-video-skeleton-secondary-bg: #E3E3E3;
  --videogrid-loader-bg: #606060;

  --bottomnav-bg: var(--main-bg);

  @media (max-width: 500px) {
    --main-bg: var(--header-bg);

    --topicbar-border: transparent;
  }

  &.darkmode {
    --text: #FFF;
    --main-bg: #181818;
    --border: #373737;
    --scrollbar-thumb: #AAA;
  
    --header-bg: #202020;
    --header-icon-nation-text: #9C9C9C;
    --header-searchbar-bg: #121212;
    --header-searchbar-border: #303030;
    --header-searchbar-btn-bg: #313131;
    --header-searchbar-btn-border: transparent;
    --header-searchbar-record-bg: #181818;
    --header-searchbar-text: #FFF;
    --btn-active-bg: #373737;
    --btn-active-border: #373737;
    --header-load-btn-bg: #292929;
  
    --sidebar-bg: #212121;
    --sidebar-btn-hover-bg: #383838;
    --narrow-sidebar-btn-enabled-bg: transparent;
    --narrow-sidebar-btn-active-bg: #4C4C4C;
    --wide-sidebar-border: #383838;
    --wide-sidebar-text: #AAA;
    --wide-sidebar-copyright-text: #717171;
    --wide-sidebar-btn-enabled-bg: #383838;
    --wide-sidebar-btn-active-bg: #606060;
    --wide-sidebar-btn-enabled-bg-and-hover-bg: #4C4C4C;
    --wide-sidebar-btn-enabled-bg-and-active-bg: #707070;
    .wide-sidebar {
      --scrollbar-track-bg: var(--sidebar-bg);
      --scrollbar-thumb: transparent;
      .body:hover {
        --scrollbar-thumb: #717171;
      }
    }
  
    --topicbar-bg: var(--header-bg);
    --topicbar-border: var(--border);
    --btn-pill-bg: #373737;
    --btn-pill-enabled-bg: #FFF;
    --btn-pill-enabled-text: #000;
    --btn-pill-hover-bg: #4D4D4D;

    --videogrid-video-active-bg: #303030;
    --videogrid-video-primary-text: #FFF;
    --videogrid-video-secondary-text: #AAAAAA;
    --videogrid-video-skeleton-primary-bg: #252525;
    --videogrid-video-skeleton-secondary-bg: #292929;
    --videogrid-loader-bg: #AAA;

    --bottomnav-bg: var(--main-bg);
  
    @media (max-width: 500px) {
      --main-bg: var(--header-bg);
  
      --topicbar-border: transparent;
    }
  }
}