@import 'variables';
@import 'reset';
@import 'mixins';


*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

.btn {
  @include btn;
}
.btn-circle {
  @include btn;
  @include btn-active;
  &::before {
    border-radius: 50%;
  }
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
}
.btn-square {
  @include btn;
  @include btn-active;
  flex-direction: column;
  width: var(--narrow-sidebar-width);
  height: calc(var(--narrow-sidebar-width) + 2px);
  font-size: 12px;
  &.enabled {
    background: var(--narrow-sidebar-btn-enabled-bg);
  }
  &:hover {
    background: var(--sidebar-btn-hover-bg);
  }
  &:active {
    background: var(--narrow-sidebar-btn-active-bg);
  }
  .icon {
    margin-bottom: 6px;
  }
}
.btn-rectangle {
  @include btn;
  @include btn-active;
  justify-content: flex-start;
  @include flex-center;
  width: var(--wide-sidebar-width);
  height: var(--btn-size);
  padding: 0 var(--btn-icon-size);
  font-size: 14px;
  &.enabled {
    background: var(--wide-sidebar-btn-enabled-bg);
    &:hover {
      background: var(--wide-sidebar-btn-enabled-bg-and-hover-bg);
    }
    &:active {
      background: var(--wide-sidebar-btn-enabled-bg-and-active-bg);
    }
  }
  &:hover {
    background: var(--sidebar-btn-hover-bg);
  }
  &:active {
    background: var(--wide-sidebar-btn-active-bg);
  }
  .icon {
    flex: 0 0 var(--btn-icon-size);
    margin-right: var(--btn-icon-size);
  }
  .text {
    flex: 1;
    padding-right: 5px;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.btn-pill {
  @include btn;
  height: var(--btn-pill-height);
  padding: 0 13px;
  background: var(--btn-pill-bg);
  border-radius: 500px;
  font-size: 14px;
  white-space: nowrap;
  &.enabled {
    background: var(--btn-pill-enabled-bg);
    color: var(--btn-pill-enabled-text);
    &:hover {
      background: var(--btn-pill-enabled-bg);
    }
  }
  &:hover {
    background: var(--btn-pill-hover-bg);
  }
  @media (max-width: 500px) {
    padding: 0 10px;
    font-size: 12px;
  }
}
.btn-bottomnav {
  @include btn;
  @include btn-active;
  &::before {
    top: 0;
    bottom: 0;
    height: calc(20vw);
    margin: auto 0;
    border-radius: 50%;
    z-index: -1;
  }
  &:active {
    background: transparent;
    &::before {
      background: var(--btn-active-bg);
    }
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-center;
  flex-direction: column;
  .icon {}
  .text {
    font-size: 12px;
    transform: scale(0.7);
  }
}

.bold {
  font-weight: 600;
}